@model AppUser

  <div class="avatar__wrap text-center mb-45">
   
        <div class="avatar__info">
            <h5>@Model.Name @Model.Surname</h5>
             <div class="avatar__info-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="avatar__wrap-content">
              <p>@Model.Description</p>
         </div>
    </div>
  
