@model Contact

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni İletişim Bilgisi Girişi</h5>
        </div>
        <br />

        <form method="post">
            <label>Telefon Numarası</label>
            <input type="tel" asp-for="Phone" class="form-control" />
            <br />
            <label>Email Adresi</label>
            <input type="email" asp-for="Email" class="form-control" />
            <br />
            <label>Adres Bilgisi</label>
            <textarea class="form-control" asp-for="Address" rows="3"></textarea>
            <br />
            <label>Açıklama</label>
            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
            <br />
            <button class="btn btn-primary">İletişim Bilgisi Ekle</button>
        </form>
    </div>
</div>



